@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --background: #e9b55b;
    --surface: #f2ece4;
    --white: #ffffff;
    --black: #000000;
    --primary: #de8625;
    --primary-dark: #c85f1d;
    --loading: #e2c19b;
    --primary-light: #e7a134;
    --unknown-color: #d97f36; /*anyone used pls name this color tq*/
    --accent: #d8b6b4; 
    --text: #a7773d; 
    --text-muted: #e1bf96;
    --max-width: 480px;
}

html, body {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.index img {
    width: 300px;
    height: auto;
    transition: filter 0.3s ease;
}

.spinner_container {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner_container .spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient( var(--white) 20%, var(--loading));
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 7px), black 0) center/100% 100% no-repeat;
    mask: radial-gradient(farthest-side, transparent calc(100% - 7px), black 0) center/100% 100% no-repeat;
    animation: spin 5s linear infinite;
}

.index.loading .spinner_container {
    display: block;
}

.index.loading img {
    filter: blur(2px);
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}