@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --background: #e9b55b;
    --surface: #f2ece4;
    --primary: #de8625;
    --primary-dark: #c85f1d;
    --primary-light: #e7a134;
    --accent: #d8b6b4; 
    --text: #a7773d; 
    --text-muted: #e1bf96;
    --max-width: 480px;
}

html, body {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
}


